Code/Client/Service References/BattleshipService/SBattleship.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SBattleship" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56470/Battleship.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56470/Battleship.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56470/Battleship.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBattleship_Shoot_InputMessage">
    <wsdl:part name="parameters" element="tns:Shoot" />
  </wsdl:message>
  <wsdl:message name="IBattleship_Shoot_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShootResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleship_NewPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:NewPlayer" />
  </wsdl:message>
  <wsdl:message name="IBattleship_NewPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleship_StartGameSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGameSession" />
  </wsdl:message>
  <wsdl:message name="IBattleship_StartGameSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IBattleship">
    <wsdl:operation name="Shoot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleship/Shoot" message="tns:IBattleship_Shoot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleship/ShootResponse" message="tns:IBattleship_Shoot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleship/NewPlayer" message="tns:IBattleship_NewPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleship/NewPlayerResponse" message="tns:IBattleship_NewPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGameSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleship/StartGameSession" message="tns:IBattleship_StartGameSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleship/StartGameSessionResponse" message="tns:IBattleship_StartGameSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBattleship" type="tns:IBattleship">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Shoot">
      <soap:operation soapAction="http://tempuri.org/IBattleship/Shoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewPlayer">
      <soap:operation soapAction="http://tempuri.org/IBattleship/NewPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGameSession">
      <soap:operation soapAction="http://tempuri.org/IBattleship/StartGameSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SBattleship">
    <wsdl:port name="BasicHttpBinding_IBattleship" binding="tns:BasicHttpBinding_IBattleship">
      <soap:address location="http://localhost:56470/Battleship.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>