Code/Client/Service References/MyBattleshipService/MyBattleshipContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyBattleshipContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyBattleshipContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyBattleshipContract/Imports">
      <xsd:import namespace="MyBattleshipContract" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBattleship_RegisterBattleshipClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterBattleshipClient" />
  </wsdl:message>
  <wsdl:message name="IBattleship_Shoot_InputMessage">
    <wsdl:part name="parameters" element="tns:Shoot" />
  </wsdl:message>
  <wsdl:message name="IBattleship_ReadyForBattle_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadyForBattle" />
  </wsdl:message>
  <wsdl:message name="IBattleship_SendHitResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SendHitResult" />
  </wsdl:message>
  <wsdl:message name="IBattleship_GameEnded_InputMessage">
    <wsdl:part name="parameters" element="tns:GameEnded" />
  </wsdl:message>
  <wsdl:message name="IBattleship_StartGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IBattleship_PlaceShips_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlaceShips" />
  </wsdl:message>
  <wsdl:message name="IBattleship_ReceiveHit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveHit" />
  </wsdl:message>
  <wsdl:message name="IBattleship_ReceiveHitResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveHitResult" />
  </wsdl:message>
  <wsdl:message name="IBattleship_EnemyReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EnemyReady" />
  </wsdl:message>
  <wsdl:message name="IBattleship_ReceiveGameEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameEnd" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IBattleship">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterBattleshipClient">
      <wsdl:input wsaw:Action="MyBattleshipContract/IBattleship/RegisterBattleshipClient" message="tns:IBattleship_RegisterBattleshipClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Shoot">
      <wsdl:input wsaw:Action="MyBattleshipContract/IBattleship/Shoot" message="tns:IBattleship_Shoot_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReadyForBattle">
      <wsdl:input wsaw:Action="MyBattleshipContract/IBattleship/ReadyForBattle" message="tns:IBattleship_ReadyForBattle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendHitResult">
      <wsdl:input wsaw:Action="MyBattleshipContract/IBattleship/SendHitResult" message="tns:IBattleship_SendHitResult_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameEnded">
      <wsdl:input wsaw:Action="MyBattleshipContract/IBattleship/GameEnded" message="tns:IBattleship_GameEnded_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartGame">
      <wsdl:output wsaw:Action="MyBattleshipContract/IBattleship/StartGame" message="tns:IBattleship_StartGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlaceShips">
      <wsdl:output wsaw:Action="MyBattleshipContract/IBattleship/PlaceShips" message="tns:IBattleship_PlaceShips_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveHit">
      <wsdl:output wsaw:Action="MyBattleshipContract/IBattleship/ReceiveHit" message="tns:IBattleship_ReceiveHit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveHitResult">
      <wsdl:output wsaw:Action="MyBattleshipContract/IBattleship/ReceiveHitResult" message="tns:IBattleship_ReceiveHitResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EnemyReady">
      <wsdl:output wsaw:Action="MyBattleshipContract/IBattleship/EnemyReady" message="tns:IBattleship_EnemyReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveGameEnd">
      <wsdl:output wsaw:Action="MyBattleshipContract/IBattleship/ReceiveGameEnd" message="tns:IBattleship_ReceiveGameEnd_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>