Code/Client/Service References/MyLobbyService/MyLobbyContract.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyLobbyContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyLobbyContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyLobbyContract/Imports">
      <xsd:import namespace="MyLobbyContract" />
      <xsd:import namespace="MyBattleshipContract" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import namespace="MyChatContract" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobby_logPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:logPlayer" />
  </wsdl:message>
  <wsdl:message name="ILobby_invitePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:invitePlayer" />
  </wsdl:message>
  <wsdl:message name="ILobby_acceptInvitationInvokeGame_InputMessage">
    <wsdl:part name="parameters" element="tns:acceptInvitationInvokeGame" />
  </wsdl:message>
  <wsdl:message name="ILobby_declineInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:declineInvitation" />
  </wsdl:message>
  <wsdl:message name="ILobby_RandomGame_InputMessage">
    <wsdl:part name="parameters" element="tns:RandomGame" />
  </wsdl:message>
  <wsdl:message name="ILobby_logOut_InputMessage">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="ILobby_receiveAvailablePlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:receiveAvailablePlayers" />
  </wsdl:message>
  <wsdl:message name="ILobby_notifyPlayerInvitationResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyPlayerInvitationResult" />
  </wsdl:message>
  <wsdl:message name="ILobby_notifyPlayerInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyPlayerInvitation" />
  </wsdl:message>
  <wsdl:message name="ILobby_receiveLoginResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:receiveLoginResult" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILobby">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="logPlayer">
      <wsdl:input wsaw:Action="MyLobbyContract/ILobby/logPlayer" message="tns:ILobby_logPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="invitePlayer">
      <wsdl:input wsaw:Action="MyLobbyContract/ILobby/invitePlayer" message="tns:ILobby_invitePlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="acceptInvitationInvokeGame">
      <wsdl:input wsaw:Action="MyLobbyContract/ILobby/acceptInvitationInvokeGame" message="tns:ILobby_acceptInvitationInvokeGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="declineInvitation">
      <wsdl:input wsaw:Action="MyLobbyContract/ILobby/declineInvitation" message="tns:ILobby_declineInvitation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RandomGame">
      <wsdl:input wsaw:Action="MyLobbyContract/ILobby/RandomGame" message="tns:ILobby_RandomGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="logOut">
      <wsdl:input wsaw:Action="MyLobbyContract/ILobby/logOut" message="tns:ILobby_logOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="receiveAvailablePlayers">
      <wsdl:output wsaw:Action="MyLobbyContract/ILobby/receiveAvailablePlayers" message="tns:ILobby_receiveAvailablePlayers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyPlayerInvitationResult">
      <wsdl:output wsaw:Action="MyLobbyContract/ILobby/notifyPlayerInvitationResult" message="tns:ILobby_notifyPlayerInvitationResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="notifyPlayerInvitation">
      <wsdl:output wsaw:Action="MyLobbyContract/ILobby/notifyPlayerInvitation" message="tns:ILobby_notifyPlayerInvitation_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="receiveLoginResult">
      <wsdl:output wsaw:Action="MyLobbyContract/ILobby/receiveLoginResult" message="tns:ILobby_receiveLoginResult_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>