Code/Client/Service References/MyLobbyService/MyLobbyContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyLobbyContract" elementFormDefault="qualified" targetNamespace="MyLobbyContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="logPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="invitePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invitedFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvitePlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acceptInvitationInvokeGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="declineInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invitedFrom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveAvailablePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AvailablePlayers" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyPlayerInvitationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="acceptOrDecline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyPlayerInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invitedFrom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="receiveLoginResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>